* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 20px auto;
    background-color: #EEEAE7;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 300px 150px 830px 540px auto;
    grid-template-areas:
    "header header"
    "picture picture"
    "link link"
    "contact form"
    "about about"
    "footer footer"
    ;
}

header {
    /* border: 1px solid #424242; */
    grid-area: header;
}

.picture {
    grid-area: picture;
    text-align: center;
}

.cover {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.link-about {
    grid-area: link;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-about a {
    color: #7C8E74;
}

main {
    background-color: #ffffff;
    border-right: 1px solid #7C8E74;
    grid-area: contact;
}

.contact-info {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.contact-info p {
    text-align: center;
    margin-bottom: 20px;
    color: #424242;
}

hr {
    width: 80%;
    margin-top: 20px;
}



aside {
    background-color: #ffffff;
    border-left: 1px solid #7C8E74;
    grid-area: form;
}

h2 {
    text-align: center;
    margin: 40px;
}

#form {
    width: 80%;
    margin: auto;
}

input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid #424242;
}

input[type="submit"] {
    background-color: #7C8E74;
    color: #ffffff;
    padding: 8px;
    width: 170px;
    margin: 0 auto;
    font-size: 27px;
}

textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 5px;
}

.container-btn {
    text-align: center;
    margin-top: 30px;
}

.about {
    background-color: #ffffff;
    margin-top: 50px;
    grid-area: about;
}

footer {
    grid-area: footer;
}
