h1,
h3, 
button{
   font-family: var(--ff-rubrik);
}

h1{
    color: var(--white);
    font-size: var(--fs-stor);
    font-weight: normal;
    width: 800px;

    position: absolute;
    top: 25%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

h3{
    font-size: var(--fs-underrubrik);
    color: var(--black);
}

h4{
    font-size:var(--fs-bodytext);
    font-family: var(--ff-bodytext);
    color: var(--black);
}


button{
    background-color: var(--green);
    color: var(--white);
    font-size: var(--fs-bodytext);
    padding: 20px 50px;
    border-style: none;
    border-radius: 5px;
}

[id*="section"]{
    max-width: 1920px;
    margin: 0 auto;
}

#start-section{
    z-index: -1;
    
    position: relative;
}

#start-section img{
    width: 100%;
}


#shop-now-btn{
    position: absolute;
    top: 85% ;
    left: 15%;
    transform: translate(-50%, -50%);
}

.section-header{
    text-align: center;
    margin: 50px;
}


.collections-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 130px;
    justify-items: center;
    padding: 10px 100px;
}

.collections-images h3{
    margin-top: 30px;
}

.product-img{
    width: 82%;
}

#call-to-action-section{
    position: relative;
    display: flex;
    background-color: #EEEAE7;;
}

#call-to-action-section img{
    width: 35%;
    margin: 1.5% 3%;
}

#call-to-action-section h2{
    margin: 7% 0% 5% 5%;
}

#call-to-action-section p{
    margin: 0 5.1%;
    max-width: 60%;
    color: #424242;
    line-height: 1.5em;
}

#call-to-action-section button{
    position: absolute;
    top: 83%;
    left: 87%;
    transform: translate(-50%, -50%);
}

#product-overview-section{
    text-align: center;
}

#product-overview{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 130px;
    column-gap: 30px;
    justify-items: center;
    padding: 10px 100px 10px;
}

.product-pic{
    width: 92%;
}

#product-overview h3{
    margin-top: 30px;
}

#product-overview h4{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.arrow{
    position: absolute;
    width: 75px;
    cursor: pointer;
}

#arrow-right{
    top: 38%;
    left: 96%;
    transform: translate(-50%, -50%);
}

#arrow-left{
    top: 38%;
    left: 4%;
    transform: translate(-50%, -50%);
}

#slideshow img{
    width: 20px;
    margin: 5px;
}

#product-overview-section button{
    margin: 30px auto 50px;
}

