@import "general.css";

.content{
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    row-gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    overflow: hidden;
}

/* headerbild med text */
.head{
    grid-column: 1/4;
}
#head-img{
    width: 100%;
}
h1{
    font-family: tenor sans;
    color: var(--white);
    font-size: var(--fs-stor);
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 250px;
    margin: auto auto;
    width: 800px;
}

/* navigation ikoner + olika behandlingar */
.navigation_icons{
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.single-icon{
    margin: 0 40px;
    opacity: 70%;
}
.single-icon:hover{
    opacity: 100%;
}
section{
    grid-column: 1/4;
    display: flex;
    justify-content: center;

}
.treatment-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 50px;
    text-align: center;
}
a{
    text-decoration: none;
}
.box{
    width: 100%;
}
